<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erp Basic - Vendas</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
            <div class="container">
                @Html.ActionLink("ERP Basic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item home">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "Vendas" }, new { @class = "nav-link" })<span class="sr-only">(current)</span>
                        </li>
                        <li class="nav-item efetuar-pedido">@Html.ActionLink("Efetuar Pedido", "EfetuarPedido", "Home", new { area = "Vendas" }, new { @class = "nav-link" })</li>
                        <li class="nav-item historico-pedidos">@Html.ActionLink("Histórico", "HistoricoPedidos", "Home", new { area = "Vendas" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.RouteLink("Sair", new { action = "Logout", controller = "Home", area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Erp Basic</p>
        </footer>
    </div>
    @*@Scripts.Render("~/bundles/jqueryval")*@
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    @*<script src="~/Scripts/jquery.mask.js"></script>*@
    <script src="~/Scripts/jquery.maskMoney.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
