<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erp Basic</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                @Html.ActionLink("ERP Basic", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            @*foreach (var item in (List<string>)ViewBag.Permissoes)
                                {
                                    if (item == "Recursos Humanos")
                                    {
                                        <li class="nav-item">@Html.ActionLink("RH", "Index", "Home", new { area = "RecursosHumanos" }, new { @class = "nav-link" })</li>
                                    }
                                    else if (item == "Vendas")
                                    {
                                        <li class="nav-item">@Html.ActionLink("Vendas", "Index", "Home", new { area = "Vendas" }, new { @class = "nav-link" })</li>
                                    }
                                }*@
                            <li class="nav-item">@Html.ActionLink("RH", "Index", "Home", new { area = "RecursosHumanos" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Vendas", "Index", "Home", new { area = "Vendas" }, new { @class = "nav-link" })</li>
                            <li class="nav-item">@Html.ActionLink("Sair", "Logout", "Home", new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li class="nav-item">@Html.ActionLink("Sign in", "Login", "Home", new { @class = "nav-link" })</li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Erp Basic</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
